<div class="ui card container">
        <div class="image">
            <img [src]="profile?.avatar" alt="Image"/>
        </div>
        <div class="content">
            <a class="header">{{username}}</a>
            <div class="meta">
                <span class="email">{{email}}</span>
            </div>
            <div class="description">
                
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                22 Friends
            </a>
        </div>
    </div>
    
    