@import url(https://fonts.googleapis.com/css?family=Galada);

.font {
    font-family: 'Galada';
    font-size: 55px;
    color: #61bdc5;
}

.font-1 {
    font-family: 'Galada';
    font-size: 25px;
    color: #61bdc5;
}

.new {
    background-color:#8c6ba7;
}

.rel {
  background-color:#4088b1;
}

.mem {
    background-color:rgb(97, 189, 197);
}

.text-center {
    margin-top: 20px;
    margin-bottom: 80px;
}

.background {
    background-color: #75bbc2;
}

.font-2 {
    font-family: 'Galada';
    font-size: 25px;
    color: #ffffff;
}

.font-3 {
    font-family: 'Galada';
    font-size: 35px;
    color: #ffffff;
}

.mb {
    margin-bottom: 30px;
    margin-left: 40px;
}

.cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
