.new {
    background-color: #8c6ba7;
}

.rel {
  background-color:#4088b1;
}

.mem {
  background-color:#61bdc5;
}  

.grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 585px;
  }

  .color {
      background-color: rgb(97, 189, 197);
      color: white;
  }

  .button:hover {
      background-color: #61bdc580;
  }

  .content {
    font-family: 'Galada';
    font-size: 36px;
    color: #61bdc5;
    text-align: center;
  }

  .alert {
    padding: 0rem 0rem;
  }

  .edit {
      width: 80px;
  }



  


