<div class="ui search text-center">
    <div class="ui icon input">
        <input class="prompt" name="search" type="text" placeholder="Search..." (keyup)="search$.next($event.target.value)">
        <i class="search icon"></i>
    </div>
    <div class="results"></div>
</div>

<br/>

<ul *ngIf="results">
    <div class="ui card" *ngFor="let result of results">
        <div class="content fi">
            <div class="right floated meta">{{ result?.createdAt | date: 'MMM dd, yyyy' }}</div>
            <img class="ui avatar image" [src]="result.avatar"> {{ result?.createdBy }}
        </div>
        <div class="content fit fon">
            {{ result?.title }}
        </div>
        <div class="image">
            <img [src]="result?.img" alt="image" class="fix">
        </div>
        <div class="content fii">
            <span class="right floated">
                <i class="heart outline like icon"></i>
                {{ result?.likes }}
            </span>
            <i class="tag icon"></i>
            {{ result?.body }}
        </div>
        <div class="content fit fiii">
            <button (click)="draftComment(result._id)" [disabled]="true" class="ui icon mini button rel">Add Comment
                <!--[disabled]="newComment.indexOf(result._id) > -1"  -->
                <i class="send icon"></i>
            </button>
            <div class="ui mini buttons">
                <a [routerLink]="['/edit-memento/', result._id]" *ngIf="username === result.createdBy">
                    <button class="ui button ed">
                        <i class="edit icon"></i>
                    </button>
                </a>
                <div class="or" *ngIf="username === result.createdBy"></div>
                <a [routerLink]="['/delete-memento/', result._id]" *ngIf="username === result.createdBy">
                    <button class="ui button do">
                        <i class="trash alternate icon"></i>
                    </button>
                </a>
            </div>
            <div class="dropdown">
                <button [disabled]="result?.likedBy.indexOf(username) > -1" class="ui icon mini button mem" type="button" name="button" *ngIf="username !== result.createdBy"
                    (click)="likeMemento(result._id)"> {{result?.likes}}
                    <i class="thumbs up icon"></i>
                </button>
                <div class="dropdown-content">
                    <a [routerLink]="['/user/', liker]" *ngFor="let liker of result.likedBy">
                        <i class="user icon"></i>{{ liker }}</a>
                </div>
            </div>
            <div class="dropdown">
                <button [disabled]="result.dislikedBy.indexOf(username) > -1" class="ui icon mini button do" type="button" name="button"
                    *ngIf="username !== result.createdBy" (click)="dislikeMemento(result._id)"> {{ result?.dislikes }}
                    <i class="thumbs down icon"></i>
                </button>
                <div class="dropdown-content">
                    <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of result.dislikedBy">
                        <i class="user icon"></i>{{ disliker }}</a>
                </div>
            </div>
        </div>
        <!-- <div class="extra content">
            <div *ngIf="newComment.indexOf(result._id) > -1" class="fit">
                <form [formGroup]="commentForm">
                    <textarea type="text" name="comment" formControlName="comment" placeholder="Add Comment..."></textarea>
                    <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                        <ul class="help-block">
                            <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                            <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
                        </ul>
                    </div>
                    <button [disabled]="!commentForm.valid || processing" type="submit" name="button" (click)="postComment(result._id)" class="ui icon mini button new">Post
                        <i class="send icon"></i>
                    </button>
                    <button [disabled]="processing" type="button" name="button" class="ui icon mini button rel" (click)="cancelSubmission(result._id)">Cancel
                        <i class="cancel icon"></i>
                    </button>
                </form>
            </div>
            <div *ngIf="enabledComments.indexOf(result._id) === -1 && result.comments.length > 0" class="list-group-item">
                <span class="point" (click)="expand(result._id)">
                    Show comments&nbsp;&nbsp;
                    <div class="fa fa-comment-o"></div>
                </span>
            </div>
            <div *ngIf="enabledComments.indexOf(result._id) > -1" class="list-group-item">
                <span class="point" (click)="collapse(result._id)">
                    Hide Comments&nbsp;&nbsp;
                    <div class="fa fa-comment"></div>
                </span>
            </div>
            <div *ngIf="enabledComments.indexOf(result._id) > -1">
                <div *ngFor="let comment of result.comments" class="ui info tiny message item">
                    <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
                </div>
            </div>
        </div> -->
    </div>
</ul>