<div class="footer">
    <div class="container">
        <a href='#'>
            <i class="fa fa-facebook fa-3x fa-fw"></i>
        </a>
        <a href='#'>
            <i class="fa fa-twitter fa-3x fa-fw"></i>
        </a>
        <a href='#'>
            <i class="fa fa-youtube-play fa-3x fa-fw"></i>
        </a>
        <a href='#'>
            <i class="fa fa-pinterest fa-3x fa-fw"></i>
        </a>
        <br />
        <br />
        <span>Copyright © 2018 Memento All Rights Reserved</span>
    </div>
</div>