@import url(https://fonts.googleapis.com/css?family=Galada);

.ui.card {
    margin-bottom: 2em;
    margin-left: 2em;
    width:300px;
    background-color: #f0f0f0;
    display: inline-block;
}

.ui.icon.button {
    margin-left:5px;
}

.ui.cards > .card > .extra, .ui.card > .extra {
    padding-top: 0px;
    padding-bottom: 5px;
}

.fit {
    text-align: center;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    border-radius: 7%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background:#87a7b8;
    border-radius: 7%;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 7%;
}

.fa-send {
    color: black;
}

.btn-icon {
    background-color: #ffffff00;
    box-shadow: 0 0 0 0;
    margin: 0;
    padding: 5px 10px 5px 8px;
    border-radius: 50%;
    /* border: 1px solid #33b5e5; */
}

.content.fit {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .color:hover {
    background-color: #61bdc5;
} */

 .grid {
    height: 100%;
  }

  .image1 {
    margin-top: -100px;
  }

  .column1 {
    max-width: 450px;
    text-align: center;
  }

  .color1 {
      background-color: #61bdc5;
      color: white;
  }

  /* .button:hover {
      background-color: #61bdc580;
  } */

  .ui.buttons .button:last-child {
      padding-right: 10px;
  }

  .ui.form .field > label {
      text-align: left;
  }

  .content1 {
    font-family: 'Galada';
    font-size: 36px;
    color: #61bdc5;
  }

  .font1 {
      text-align: left;
      padding-left: 20px;
      font-weight: normal !important;
  }

  .fix {
      height: 210px !important;
  }

  .feed {
      width: 73px;
  }

  li {
      font-size: 14px;
  }

  .new {
      background-color: #8c6ba7;
      color:white;
  }

  .rel {
    background-color:#4088b1;
    color:white;
  }

  .mem {
    background-color:#78bfc5;
    color:white;
}

.uup {
    background-color: #2baa6f;
    color: #ffffff;
}

.do {   
    background-color: #cc738e;
    color: #ffffff;
}

.ed {
    background-color: #78bfc5;
    color: #ffffff;
}

.list-group-item {
    margin-top: 5px;
    background-color: #f0f0f0;
    border: 1px solid #00000000;
    margin-bottom: 1px;
}

textarea {
    margin-top: 10px;
}

.ui.tiny.message {
    margin-bottom: 0px;
    margin-top: 4px;
}

.content.fit.fon {
    font-family: 'Galada';
    color: #0e0e0e;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: none;
  }

  .content.fi {
    padding-bottom: 0px;
    padding-top: 15px;
    border-top: none;
    cursor: pointer;
  }

  .content.fii {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
  }

  .content.fiii {
    padding-bottom: 0px;
    padding-top: 5px;
    border-top: none;
    border: none;
  }

  .list-group-item:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .list-group-item:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .point {
      cursor: pointer;
  }

  